@charset "utf-8";
@import './custom/bl.less';
@import './custom/css3.less';
@import './custom/z.less';
.reset();
#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	background-color: @pageRoot;
}
